@page
@model TerritorialHQ.Pages.Journal.DetailsModel
@{
}



@if (!string.IsNullOrEmpty(Model.Article?.Image))
{
    <div class="fader" style="background-image: url(/Data/Uploads/System/@Model.Article?.Image)"></div>
}
else
{
    <div class="start-video">
        <video autoplay muted loop class="w-full h-full absolute object-cover">
            <source src="/video/intro.mp4" type="video/mp4">
        </video>
    </div>

}

<div class="fader-narrow">
</div>



<div class="news-header">
    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-2-3">
            <h1>@Model.Article?.Title</h1>
            <p class="news-header-details">
                <img src="/img/calendar.svg" /> @string.Format("{0:d}", Model.Article.PublishFrom) | by
                <img style="width: 24px; height: 24px; border-radius: 12px; margin-left: 4px" class="avatar avatar-@(Model.Article?.Author) discord-loader" src="~/img/loading_symbol.gif" data-id="@(Model.Article?.Author)" />
                <span class="name-@(Model.Article?.Author)">@Model.Article?.Author</span>
            </p>
        </div>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-2-3">
        <img src="/Data/Uploads/System/@Model.Article?.Image" class="mb-20" />
        <p class="news-details-teaser">
            @Model.Article?.Teaser
        </p>
        <div class="news-body">
            @Html.Raw(Model.Article?.Body)
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-3">
        <h2 class="h2"><img src="/img/news.svg" /> Other Articles</h2>
        @await Component.InvokeAsync("JournalOverview", new { currentArticleId = Model.Article?.Id } );
    </div>
</div>

