@page
@model TerritorialHQ.Areas.Administration.Pages.Clans.DetailsModel

@{
    ViewData["Title"] = "Details";
}



@if (!string.IsNullOrEmpty(Model.Clan?.BannerFile))
{
    if (Model.Clan.BannerFile.EndsWith(".mp4"))
    {
        <div class="start-video">
            <video autoplay muted loop>
                <source src="/Data/Uploads/System/@Model.Clan?.BannerFile" type="video/mp4">
            </video>
        </div>
    }
    else
    {
        <div class="fader" style="background-image: url(/Data/Uploads/System/@Model.Clan?.BannerFile)"></div>
    }

    <h1>@Model.Clan?.Name</h1>
    <div class="fader-soft">
    </div>

}

<div class="pure-g">

    <div class="pure-u-1-1 pure-u-md-3-4">

        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2">
                <h3>Quick Facts</h3>

                <table class="admin-table admin-table-firstbold admin-table-fixed mb-20">
                    <tbody>
                        <tr>
                            <td>Logo</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan.LogoFile))
                                {
                                    <img src="/Data/Uploads/System/@Model.Clan.LogoFile" style="max-height: 150px" class="block mb-2" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.Motto)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.Motto)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.Tag)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.Tag)</td>
                        </tr>
                        <tr>
                            <td>Clan Colors</td>
                            <td>
                                <span class="swatch" style="background-color: @Model.Clan?.Color1"></span>
                                <span class="swatch" style="background-color: @Model.Clan?.Color2"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.UseColorForPage)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.UseColorForPage)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.Foundation)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.Foundation)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.Founders)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.Founders)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.BotEndpoint)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.BotEndpoint)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Clan!.DiscordLink)</td>
                            <td>@Html.DisplayFor(model => model.Clan!.DiscordLink)</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Content</h3>
                <table class="admin-table admin-table-firstbold admin-table-fixed">
                    <tbody>
                        <tr>
                            <td>Overview</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan?.Overview) && Model.Clan.Overview.Length > 3)
                                {
                                    <span>✅</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan?.Description) && Model.Clan.Description.Length > 3)
                                {
                                    <span>✅</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>History</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan?.History) && Model.Clan.History.Length > 3)
                                {
                                    <span>✅</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Community</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan?.Community) && Model.Clan.Community.Length > 3)
                                {
                                    <span>✅</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Features</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan?.Features) && Model.Clan.Features.Length > 3)
                                {
                                    <span>✅</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Miscellaneous</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Clan?.Miscellaneous) && Model.Clan.Miscellaneous.Length > 3)
                                {
                                    <span>✅</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2">
                <h3>Diplomatic Relations</h3>
                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>Clan</th>
                            <th>Relation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Clan.ClanRelations.Count == 0)
                        {
                            <tr>
                                <td colspan="3">No relations found</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.Clan.ClanRelations)
                            {
                                <tr>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.TargetClanLogo))
                                        {
                                            <img src="/Data/Uploads/System/@item.TargetClanLogo" style="height: 20px; margin-right: 5px" />
                                        }
                                        else
                                        {
                                            <img src="/img/clan-placeholder.png" style="height: 20px; margin-right: 5px" />

                                        }
                                        @item.TargetClanName
                                    </td>
                                    <td>@item.DiplomaticRelation.ToString()</td>
                                    <td>
                                        <form asp-page-handler="RemoveRelation" method="post">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <input type="hidden" name="clanId" value="@Model.Clan?.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <form asp-page-handler="AddRelation" method="post">
                            <td>
                                <select name="targetClanId" asp-items="@ViewBag.TargetClanId" class="form-control">
                                    <option>(Choose clan)</option>
                                </select>
                            </td>
                            <td>
                                <select name="relationType" asp-items="@Html.GetEnumSelectList<TerritorialHQ_Library.Entities.DiplomaticRelationType>()" class="form-control">
                                    <option>(Choose relation)</option>
                                </select>
                            </td>
                            <td style="width: 1%; white-space: nowrap">
                                <input type="hidden" name="id" value="@Model.Clan?.Id" />
                                <button type="submit" class="btn btn-primary btn-block">Add</button>
                            </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="pure-u-1-1 pure-u-md-1-4">
        <h3>Management</h3>
        <div class="ml-6 pl-6 border-l-2 border-l-slate-600">
            @if (User.IsInRole("Staff") || (User.IsInRole("Administrator") && Model.Clan.AssignedAppUsers.Count == 0))
            {
                <a class="btn btn-primary btn-block mb-20" asp-page="./Edit" asp-route-id="@Model.Clan?.Id">
                    <svg class="icon" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path>
                    </svg>
                    Edit
                </a>
            }
            <a class="btn btn-secondary btn-block mb-20" asp-area="" asp-page="/Clans/Details" asp-route-id="@Model.Clan?.Id" target="_blank">
                <svg class="icon" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
                Preview
            </a>

            @if (User.IsInRole("Administrator"))
            {
                if (Model.Clan!.IsPublished)
                {
                    <div class="alert alert-success text-center">
                        <strong>This page is published.</strong>
                    </div>
                }
                else
                {
                    if (Model.Clan.InReview)
                    {
                        <div class="alert alert-warning">
                            <p><strong>This page is currently pending review.</strong></p>
                            <p>
                                Please check the content of this page with regards to the community guidelines. If there are no concerns, click the button below to
                                publish the listing.
                            </p>
                            <form method="post" asp-page-handler="Publish">
                                <input type="hidden" name="id" value="@Model.Clan.Id">
                                <button type="submit" class="btn btn-secondary btn-block">Publish</button>
                            </form>
                        </div>

                    }
                }


                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>Edit permissions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Clan.AssignedAppUsers.Count == 0)
                        {
                            <tr>
                                <td colspan="2">
                                    <em>No staff users have permissions to edit</em>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.Clan.AssignedAppUsers)
                            {
                                <tr>
                                    <td>
                                        <img style="width: 24px; height: 24px; border-radius: 12px" class="inline avatar avatar-@(item.AppUserName) discord-loader" src="~/img/loading_symbol.gif" data-id="@(item.AppUserName)" />
                                        <span class="name-@(item.AppUserName)">@item.AppUserName</span>
                                    </td>
                                    <td style="width: 1%">
                                        <form method="post" asp-page-handler="RemoveUser">
                                            <input type="hidden" name="id" value="@Model.Clan.Id" />
                                            <input type="hidden" name="relationId" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">
                                <form method="post" asp-page-handler="AddUser">
                                    <div class="form-group">
                                        <label class="control-label">Give edit permission to user</label>
                                        <input type="hidden" name="id" value="@Model.Clan.Id" />
                                        <select class="form-control discord-loader" name="userId" asp-items="@ViewBag.UserId">
                                            <option value="">(Chose user)</option>
                                        </select>
                                    </div>

                                    <button class="btn btn-primary btn-sm" type="submit">Add user</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-3">
                    @if (Model.Clan.AssignedAppUsers.Count > 0)
                    {
                        <div class="alert alert-warning"><strong>Editing disabled.</strong> While staff users are assigned to this clan listing, editing is disabled for administrators.</div>
                    }
                </div>

            }
            else
            {
                if (Model.Clan!.IsPublished)
                {
                    <div class="alert alert-success">
                        <p><strong>This page is published.</strong></p>
                        <p>Saving changes to this page will unpublish the clan listing until it has been reviewed again by an administrator.</p>
                        <a href="jacascript:void(0);" onclick="javascript:document.getElementById('reviewInfo').showModal();" class="underline"><strong>Learn more</strong></a>
                    </div>
                }
                else
                {
                    if (Model.Clan.InReview)
                    {
                        <div class="alert alert-warning">
                            <p><strong>This page is currently in review.</strong></p>
                            <p>
                                An administrator will review and publish the listing shortly.
                            </p>
                            <p>
                                You may edit the page at any time. This will stop the review process until you mark the listing for review again.
                            </p>
                            <a href="javascript:void(0);" onclick="javascript:document.getElementById('reviewInfo').showModal();"><strong>Learn more</strong></a>
                        </div>
                    }
                    else
                    {
                        <div class="alert">
                            <p><strong>This page is currently unlisted.</strong></p>
                            <p>
                                When you are done and happy with your edits, click the button below to mark your listing as ready for review.
                            </p>
                            <p><a href="javascript:void(0);" onclick="javascript:document.getElementById('reviewInfo').showModal();" class="underline">Learn more</a></p>
                            <form method="post" asp-page-handler="MarkForReview">
                                <input type="hidden" name="id" value="@Model.Clan.Id">
                                <button type="submit" class="btn btn-primary btn-block">Mark for Review</button>
                            </form>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>


<dialog id="reviewInfo">
    <h1>
        Review System for clan listings
    </h1>
    <p>
        Since the content you create for your clan will be publicly visible, we must ensure that the text and images you provide do not violate the community standards of
        TerritorialHQ. This means that each clan listing will undergo a quick check before becoming publicly visible. For detailed information check the <a href="#" class="underline">community standards</a>.
    </p>
    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2">
            <p><strong>These images are not allowed:</strong></p>
            <ul class="ml-5 list-disc">
                <li class="mb-2">Images containing NSFW content, violence, hate speech, symbols of extremist or terrorist organizations or copyrighted material</li>
            </ul>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <p><strong>These texts are now allowed:</strong></p>
            <ul class="ml-5 list-disc">
                <li class="mb-2">Texts containing NSFW content, graphic description of violence, hate speech, political messages, misinformation or copyrighted material</li>
            </ul>
        </div>
    </div>
    <p>
        Other than that, our administrators <strong>will not interfere with your clan listing</strong>. You are free to describe your clan in any way you like.
    </p>
    <p>
        In case your listing can't be published, we will try to get in touch with you via Discord, let you know the reasons for the rejection and give you advice on how to change
        the content to have it pass the review.
    </p>
    <form method="dialog">
        <p class="text-center">
            <button class="btn-admin-secondary w-full mx-auto">Close</button>
        </p>
    </form>
</dialog>

@section Scripts {
    <script src="~/js/discord-drodown-loader.js"></script>
}