@page
@model TerritorialHQ.Areas.Administration.Pages.Clans.IndexModel

@{
    ViewData["Title"] = "Index";
    
    var userId = User.GetId();
}

<h1>Clans</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">
            <svg class="icon" fill="none" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            Create new Clan
        </a>
    </p>
}

<div>
    <table class="admin-table">
        <thead class="">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Clans![0].Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Clans![0].Tag)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Clans![0].LogoFile)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Clans![0].BannerFile)
                </th>
                <th scope="col">
                    Assigned Users
                </th>
                <th scope="col" class="">
                    Status
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Clans!)
            {
                if (!User.IsInRole("Administrator") && !item.AssignedAppUsers.Any(u => u.Id == userId))
                    continue;

                <tr class="">
                    <td class="font-bold">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="font-bold">
                        [@Html.DisplayFor(modelItem => item.Tag)]
                    </td>
                    <td>
                        @if (item.LogoFile != null)
                        {
                            <img src="/Data/Uploads/System/@item.LogoFile" style="height: 120px;">
                        }
                    </td>
                    <td>
                        @if (item.BannerFile != null)
                        {
                            <img src="/Data/Uploads/System/@item.BannerFile" style="height: 120px;">
                        }
                    </td>
                    <td>
                        @foreach (var user in item.AssignedAppUsers)
                        {
                            <p class="mb-1">
                                <img style="width: 24px; height: 24px; border-radius: 12px" class="inline avatar avatar-@(user.AppUserName) discord-loader" src="~/img/loading_symbol.gif" data-id="@(user.AppUserName)" />
                                <span class="name-@(user.AppUserName)">@user.AppUserName</span>
                            </p>
                        }
                    </td>
                    <td>
                        @if (item.InReview)
                        {
                            <span class="label label-warning">Pending Review</span>
                        }
                        else if (item.IsPublished)
                        {
                            <span class="label label-success">Published</span>
                        }
                        else
                        {
                            <span class="label">Not Published</span>
                        }
                    </td>
                    <td style="width: 1%; white-space: nowrap">
                        <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
