@page
@model TerritorialHQ.Areas.Administration.Pages.Users.IndexModel
@{
}

<h1 class="text-4xl mb-5">Users</h1>


<h2 class="text-2xl mb-5">Backend Users</h2>


<div class="flex flex-row">
    <div class="basis-1/2">
        @foreach (var keyVauePair in Model.UsersWithRoles)
        {
            <h3 class="text-xl mb-3">@keyVauePair.Key</h3>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-5">
                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (keyVauePair.Value.Count == 0)
                        {
                            <tr>
                                <td>
                                    <em>No users in this role.</em>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in keyVauePair.Value)
                            {
                                <tr>
                                    <td>
                                        <img style="width: 24px; height: 24px; border-radius: 12px" class="inline avatar avatar-@(item.UserName) discord-loader" src="~/img/loading_symbol.gif" data-id="@(item.UserName)" />
                                        <span class="name-@(item.UserName)">@item.UserName</span>
                                    </td>
                                    <td style="width: 1%; white-space: nowrap">
                                        <form asp-page="./Remove" asp-route-id="@item.Id" method="post">
                                            <button type="submit" class="btn-admin-danger-sm" onclick="return confirm('Remove user from role? The user will be signed out automatically.')">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
    <div class="basis-1/2">
        <div class="ml-6 pl-6 border-l-2 border-l-gray-200">
            <h2 class="text-2xl mb-5">Add Users to Backend</h2>

            <form method="post">
                <div class="form-group">
                    <label class="control-label" asp-for="UserQuery"></label>
                    <input class="form-control" asp-for="UserQuery" />
                    <span asp-validation-for="UserQuery" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-admin-secondary">Search</button>
                </div>
            </form>

            @if (Model.QueryResult != null)
            {
            <h3 class="text-xl mb-2">Search Result</h3>
            <div>
                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img style="width: 24px; height: 24px; border-radius: 12px" class="inline avatar avatar-@(Model.QueryResult.UserName) discord-loader" src="~/img/loading_symbol.gif" data-id="@(Model.QueryResult.UserName)" />
                                <span class="name-@(Model.QueryResult.UserName)">@Model.QueryResult.UserName</span>
                            </td>
                            <td style="width: 1%; white-space: nowrap">
                                <a class="btn-admin-secondary-sm" asp-page="./Edit" asp-route-id="@Model.QueryResult.Id">Edit role</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>
</div>