@model List<TerritorialHQ.Models.NavigationEntry>

<ul>
    @foreach (var item in Model)
    {
        if (!item.Public) continue;

        <li>
            @if (item.SubEntries != null && item.SubEntries.Count > 0)
            {
                <span>@item.Name</span>
                <ul>
                    @foreach (var subitem in item.SubEntries.OrderBy(o => o.Order))
                    {
                        if (!subitem.Public) continue;

                        <li>
                            @if (!string.IsNullOrEmpty(subitem.ExternalUrl))
                            {
                                if (subitem.ExternalUrl.StartsWith("http")) {
                                    <a href="@subitem.ExternalUrl" target="_blank">@subitem.Name</a>
                                }
                                else
                                {
                                    <a href="@subitem.ExternalUrl">@subitem.Name</a>
                                }
                            }
                            else
                            {
                                <a href="/@item.Slug/@subitem.Slug">@subitem.Name</a>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                if (!string.IsNullOrEmpty(item.ExternalUrl))
                {
                    if (item.ExternalUrl.StartsWith("http"))
                    {
                        <a href="@item.ExternalUrl" target="_blank">@item.Name</a>
                    }
                    else
                    {
                        <a href="@item.ExternalUrl">@item.Name</a>
                    }
                }
                else
                {
                    <a href="/@item.Slug">@item.Name</a>
                }
            }
        </li>
    }
    @if (User.IsInRole("Administrator") || User.IsInRole("Staff") || User.IsInRole("Journalist"))
    {
        <li>
            <a asp-area="Administration" asp-page="/Home/Index">Administration</a>
        </li>
    }
</ul>
<partial name="_LoginPartial" />
