@page
@model TerritorialHQ.Areas.Administration.Pages.Navigation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-4xl mb-5">Navigation</h1>

<p>
    <a asp-page="Create" class="btn-admin-primary mb-6">
        <svg class="inline-block w-6 h-6" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        Create new Menu Item
    </a>
</p>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="admin-table">
        <thead>
            <tr>
                <th></th>
                <th>Menu Item</th>
                <th>Link</th>
                <th>Public</th>
                <th>Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-accordion="row">
            @{
                var i = 0;
            }
            @foreach (var item in Model.NavigationEntries)
            {
                <tr id="row-head-@i" data-accordion-target="#row-body-@i" aria-expanded="false" aria-controls="row-body-@i" class="focus:bg-gray-200">
                    <td class="w-16">
                        <svg data-accordion-icon="" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </td>
                    <td class="font-bold text-md w-1/3">@Html.DisplayFor(model => item.Name)</td>
                    <td>
                        @if (item.ContentPageId != null)
                        {
                            @Html.DisplayFor(model => item.ContentPage.DisplayName) <span>(Content Page)</span>
                        }
                        else if (item.ExternalUrl != null)
                        {
                            @Html.DisplayFor(model => item.ExternalUrl)
                        }
                        else
                        {
                            <span>(Not linked)</span>
                        }
                    </td>
                    <td class="w-24">@Html.DisplayFor(model => item.Public)</td>
                    <td class="w-24">@Html.DisplayFor(model => item.Order)</td>
                    <td class="w-48" style="white-space: nowrap">
                        <a class="btn-admin-secondary-sm" asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                        @if (item.SubEntries == null || item.SubEntries.Count == 0)
                        {
                            <a class="btn-admin-danger-sm" asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        }
                    </td>
                </tr>



                <tr id="row-body-@i" aria-labelledby="row-head-@i" class="hidden">
                    <td colspan="6" style="padding: 0 !important">
                        <table class="admin-table">
                            <tbody>
                                @if (item.SubEntries != null)
                                {
                                    @foreach (var subitem in item.SubEntries.OrderBy(o => o.Order))
                                    {
                                        <tr class="bg-gray-50">
                                            <td class="w-16"></td>
                                            <td class="w-1/3">&mdash; @Html.DisplayFor(model => subitem.Name)</td>
                                            <td>
                                                @if (subitem.ContentPageId != null)
                                                {
                                                    @Html.DisplayFor(model => subitem.ContentPage.DisplayName)  <span>(Content Page)</span>
                                                }
                                                else if (subitem.ExternalUrl != null)
                                                {
                                                    @Html.DisplayFor(model => subitem.ExternalUrl)
                                                }
                                                else
                                                {
                                                    <span>(Not linked)</span>
                                                }
                                            </td>
                                            <td class="w-24">@Html.DisplayFor(model => subitem.Public)</td>
                                            <td class="w-24">@Html.DisplayFor(model => subitem.Order)</td>
                                            <td class="w-48">
                                                <a class="btn-admin-secondary-sm" asp-page="./Edit" asp-route-id="@subitem.Id" class="btn btn-sm btn-secondary">Edit</a>
                                                <a class="btn-admin-danger-sm" asp-page="./Delete" asp-route-id="@subitem.Id" class="btn btn-sm btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr class="bg-gray-50">
                                    <td class="w-16"></td>
                                    <td colspan="5">
                                        <a asp-page="Create" asp-route-parentId="@item.Id" class="btn-admin-secondary">
                                            <svg class="inline-block w-6 h-6" fill="none" stroke="#4b5563" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                            </svg>
                                            Create Submenu Item
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>