@page
@model TerritorialHQ.Pages.Calendar.IndexModel
@{
}

<div class="start-video">
    <video autoplay muted loop class="w-full h-full absolute object-cover">
        <source src="/video/intro.mp4" type="video/mp4">
    </video>
</div>
<div class="fader-soft">
</div>


<div class="content-page events">
    <h1 class="h1">Upcoming Community Events</h1>

    @{
        DateTime currentDate = DateTime.MinValue;
    }

    @if (Model.CommunityEvents?.Count == 0)
    {
           <p>No events planned.</p>
    }

    @foreach (var item in Model.CommunityEvents)
    {
        if (item.Start.Value.Date != currentDate)
        {
            if (currentDate != DateTime.MinValue)
            {
                @Html.Raw("</div>")
            }
            <h3><img src="/img/calendar.svg" /> @string.Format("{0:dddd, dd MMMM yyyy}", item.Start.Value)</h3>
            @Html.Raw("<div class=\"events-grid\">")
        }

        <div class="events-container">

            <a name="@(item.Id + "-" + item.Start.Value.Ticks)"></a>
            <h4>
                @item.Title 
                @if (item.Start <= DateTime.Now && item.End >= DateTime.Now)
                {
                    <span class="label label-danger label-sm ml-5">STARTED</span>
                }
            </h4>
            @if (!string.IsNullOrEmpty(item.ImageFile))
            {
                <div class="event-banner">
                    <img src="/Data/Uploads/System/@(item.ImageFile)" />
                </div>
            }
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-lg-1-2 form-group">
                    <label class="control-label">Event Start</label>
                    <strong>@string.Format("{0:d}", item.Start.Value)</strong><br />
                    <strong>@string.Format("{0:HH:mm}", item.Start.Value) GMT</strong> <span class="local-date" data-date="@string.Format("{0:yyyy-MM-ddTHH:mmZ}", item.Start.Value)">?</span>
                </div>
                <div class="pure-u-1-1 pure-u-lg-1-2 form-group">
                    <label class="control-label">Event End</label>
                    <strong>@string.Format("{0:d}", item.End.Value)</strong><br />
                    <strong>@string.Format("{0:HH:mm}", item.End.Value) GMT</strong> <span class="local-date" data-date="@string.Format("{0:yyyy-MM-ddTHH:mmZ}", item.End.Value)">?</span>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-lg-1-2 form-group">
                    <label class="control-label">Host / Location</label>
                    <strong>@item.Host</strong><br>
                    @item.Location
                </div>
                @if (!string.IsNullOrEmpty(item.DiscordServerLink))
                {
                    <div class="pure-u-1-1 pure-u-lg-1-2 form-group">
                        <label class="control-label">Discord Server</label>
                        <a href="@item.DiscordServerLink" target="_blank">@item.DiscordServerLink</a>
                    </div>
                }
            </div>
            <div>
                @if (!string.IsNullOrEmpty(item.Description))
                {
                    @Html.Raw(item.Description.Replace(System.Environment.NewLine, "<br />"))
                }
            </div>

        </div>

        if (item.Start.Value.Date != currentDate)
        {
            currentDate = item.Start.Value.Date;
        }
    }

    @if (Model.CommunityEvents.Count > 0)
    {
        @Html.Raw("</div>")
    }

</div>


@section Scripts {
    <script src="~/js/local-time.js"></script>
}