@page
@model TerritorialHQ.Areas.Administration.Pages.ContentPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-4xl mb-5">Content Pages</h1>

<p>
    <a asp-page="Create" class="btn-admin-primary mb-6">
        <svg class="inline-block w-6 h-6" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        Create new Content Page
    </a>
</p>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="admin-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContentPage[0].DisplayName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentPage)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td style="width: 1%; white-space: nowrap">
                        @*<a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-xs btn-secondary"><i class="icon-eye"></i></a>*@
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn-admin-secondary-sm">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn-admin-danger-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>