@page
@model TerritorialHQ.Pages.Profiles.IndexModel
@{
}


<div class="start-video">
    <video autoplay muted loop class="w-full h-full absolute object-cover">
        <source src="/video/intro.mp4" type="video/mp4">
    </video>
</div>
<div class="fader-narrow">
</div>

<div class="pure-g mt-50">

    @if (Model.IsOwnProfile)
    {
        <div class="pure-u-1-1 pure-u-lg-1-4 mb-30">
            <a class="btn btn-secondary btn-block btn" asp-page="/Authentication/Logout">Log out</a>

            <div class="clan-quickfacts-container mt-20">
                @if (Model.AppUser.Public)
                {
                    <p class="label label-block label-success">Public profile</p>
                    <p>Visitors can see your recorded points and the clans you played for.</p>
                    <form method="post" asp-page-handler="TogglePublic">
                        <button type="submit" class="btn btn-primary btn-block">Switch to private</button>
                    </form>
                }
                else
                {
                    <p class="label label-block label-danger">Private profile</p>
                    <p>Visitors can't see your points or clans you played for.</p>
                    <form method="post" asp-page-handler="TogglePublic">
                        <button type="submit" class="btn btn-primary btn-block">Switch to public</button>
                    </form>
                }
            </div>
        </div>
    }

    <div class="pure-u-1-1 @(Model.IsOwnProfile ? "pure-u-lg-3-4" : "")">
        <div class="profile">
            <img class="avatar avatar-@(Model.AppUser?.DiscordId) discord-loader" src="~/img/loading_symbol.gif" data-id="@(Model.AppUser?.DiscordId)" />
            <p class="username name-@(Model.AppUser?.DiscordId)">@Model.AppUser?.DiscordId</p>

            <h2 class="h2 mt-40">Clan points</h2>
            <p>Clan points are provided by compatible clan bots in real-time. If you want your clan to appear in this list, join the
                <a href="https://discord.gg/63raN9s6ye" target="_blank">TTHQ Discord server</a> to get more information on how to hook up your bot to TTHQ.</p>
            @if (Model.IsOwnProfile || !Model.IsPrivate)
            {
                <div class="profile-grid mt-20">
                    @foreach (var keyValuePair in Model.ClanPoints.OrderByDescending(o => o.Value))
                    {
                        <div class="profile-grid-item" style="border-color: @(keyValuePair.Key.Color1 ?? "#3A5A82")50;
                            background-image: linear-gradient(120deg, @(keyValuePair.Key.Color1 ?? "#3A5A82")28 0%, @(keyValuePair.Key.Color2 ?? "#3A5A82")28 100%), url(/img/pattern2.png)">
                            <img src="@(string.IsNullOrEmpty(keyValuePair.Key.LogoFile) ? "/img/clan-placeholder.png" : "/Data/Uploads/System/" + keyValuePair.Key.LogoFile)">
                            <strong>
                                @if (@keyValuePair.Key.IsPublished)
                                {
                                    <a asp-page="/Clans/Details" asp-route-id="@keyValuePair.Key.Id">@keyValuePair.Key.Tag</a>
                                }
                                else
                                {
                                    @keyValuePair.Key.Tag
                                }
                            </strong><br />
                            @string.Format("{0:#,0}", @keyValuePair.Value)
                        </div>
                    }
                </div>
            }
            else
            {
                <span class="mt-20 mb-40 label label-danger">This profile is private</span>
            }
        </div>



    </div>

</div>




