@page
@model TerritorialHQ.Areas.Administration.Pages.Journal.DetailsModel
@{
}


<h1>@Model.Article?.Title</h1>
<h2>Details</h2>

<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-3-4">
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.Article!.Image)</label>
            @if (!string.IsNullOrEmpty(Model.Article!.Image))
            {
                <img src="/Data/Uploads/System/@Model.Article!.Image" style="max-height: 150px" class="block mb-2" />
            }
        </div>
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.Article!.Subtitle)</label>
            @Html.DisplayFor(model => model.Article!.Subtitle)
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2 form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Article!.PublishFrom)</label>
                @Html.DisplayFor(model => model.Article!.PublishFrom)
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2  form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Article!.PublishTo)</label>
                @Html.DisplayFor(model => model.Article!.PublishTo)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.Article!.Teaser)</label>
            @Html.DisplayFor(model => model.Article!.Teaser)
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2 form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Article!.Tags)</label>
                @Html.DisplayFor(model => model.Article!.Tags)
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2  form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Article!.IsSticky)</label>
                @Html.DisplayFor(model => model.Article!.IsSticky)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.Article!.Body)</label>
            @Html.Raw(Model.Article!.Body)
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-4">
        @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.Identity.Name == Model.Article.Author)
        {
            <a class="btn btn-primary btn-block mb-20" asp-page="./Edit" asp-route-id="@Model.Article?.Id">
                <svg class="icon" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path>
                </svg>
                Edit
            </a>
        } else
        {
            <div class="alert alert-warning mb-20">You cannot edit articles created by other users.</div>
        }
        <a class="btn btn-secondary btn-block mb-20" asp-area="" asp-page="/Journal/Details" asp-route-id="@Model.Article?.Id" target="_blank">
            <svg class="icon" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            Preview
        </a>

        @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
        {
            if (Model.Article!.IsCleared)
            {
                <div class="alert alert-success">
                    <p class="mb-0"><strong>This article is cleared for publication.</strong></p>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <p><strong>This article is currently pending clearance.</strong></p>
                    <p>
                        Please check the content with regards to the community guidelines. If there are no concerns, click the button below to
                        give clearance for publication.
                    </p>
                    <form method="post" asp-page-handler="Clearance">
                        <input type="hidden" name="id" value="@Model.Article.Id">
                        <button type="submit" class="btn btn-secondary btn-block">Give clearance</button>
                    </form>
                </div>
            }
        }
        else
        {
            if (Model.Article!.IsCleared)
            {
                <div class="alert alert-success">
                    <p><strong>This page is cleared for publication.</strong></p>
                    <p>Saving changes to this page will remove clearance and will require an editor to mark it as cleared again.</p>
                    <a href="jacascript:void(0);" onclick="javascript:document.getElementById('reviewInfo').showModal();" class="underline"><strong>Learn more</strong></a>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <p><strong>This page is not cleared for publication.</strong></p>
                    <p>When you're happy with the article, please let an editor in the TTHQ Content Team server know. They will give cleareance for publication after reviewing your content.</p>
                    <a href="jacascript:void(0);" onclick="javascript:document.getElementById('reviewInfo').showModal();" class="underline"><strong>Learn more</strong></a>
                </div>
            }
        }
    </div>
</div>

<dialog id="reviewInfo">
    <h1>
        Clearance system for journal articles
    </h1>
    <p>
        Since the content you create for Territorial Journal will be publicly visible, we must ensure that the text and images you provide do not violate the community standards of
        TerritorialHQ. This means that each clan listing will undergo a quick check before becoming publicly visible. For detailed information check the <a href="#" class="underline">community standards</a>.
    </p>
    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2">
            <p><strong>These images are not allowed:</strong></p>
            <ul class="ml-5 list-disc">
                <li class="mb-2">Images containing NSFW content, violence, hate speech, symbols of extremist or terrorist organizations or copyrighted material</li>
            </ul>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <p><strong>These texts are now allowed:</strong></p>
            <ul class="ml-5 list-disc">
                <li class="mb-2">Texts containing NSFW content, graphic description of violence, hate speech, political messages, misinformation or copyrighted material</li>
            </ul>
        </div>
    </div>
    <p>
        In case your article can't be published, an editor to get in touch with you via Discord, let you know the reasons for the rejection and give you advice on how to change
        the content to have it pass the review.
    </p>
    <form method="dialog">
        <p class="text-center">
            <button class="btn-admin-secondary w-full mx-auto">Close</button>
        </p>
    </form>
</dialog>
